@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to the Conservice Team Manager</h1>
        <p>Author: Van Euclid Dy.
        <br />This is my first encounter with ASP.net, please excuse the lack of polish.
        <br />Thank you!!</p>

    </div>
