@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        Welcome to the Conservice Team Manager
    </h1>
    <p>
        Author: Van Euclid Dy.
        <br />This is my first encounter to ASP.net, please excuse the lack of polish.
        <br />Thank you for looking at this project!!
    </p>
</div>
<br />
<br />

    List of updates since submission:
<br />
<li>Added protections on employment status</li>
<li>Created department manager feature</li>
<li>Added department/manager metric</li>
<li>Restructured project to one master context that holds all the DbSets so that can create relations</li>